<div id="app-container">
  <div class="flex-row">
    <h2 id="logo-title">LOANER</h2>
    <div
      class="flex-row flex-center"
      [style]="{ gap: '30px', width: '100%', marginRight: '30px' }"
    >
      <a class="menu-item" routerLink="my-data">My data</a>
      <a class="menu-item" routerLink="statistics">Statistics</a>
    </div>
    <p-dropdown
      [options]="users"
      [(ngModel)]="selectedUser"
      optionLabel="username"
      (ngModelChange)="onUserChange($event)"
    ></p-dropdown>
  </div>
  <router-outlet></router-outlet>
</div>
